# coding: utf-8

SECRET_KEY = "the-secret-key"

DATABASE_URI = 'postgresql+psycopg2://admin:admin@172.20.0.2:5432/mead_local_db'

EMAIL_USER = "mail@example.com"

EMAIL_PASSWORD = "p@55w0rd"

TOKEN_SECRET_KEY = "token-secret-key"

UPLOAD_FOLDER = "application/static/uploads"
