<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={% block meta_description %}{% endblock %}>
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link href="{{url_for('mead.static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('mead.static', filename='css/app.css')}}" rel="stylesheet">
</head>

<body>

    {% include "_navbar.html" %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>


    <script src="{{url_for('mead.static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
