APP_IMAGE_NAME=
APP_CONTAINER_NAME=
APP_PORT=
DB_CONTAINER_NAME=
DB_PORT=
DB_HOST=
DB_USER=
DB_USER_PASSWORD=
DB_ADMIN_CONTAINER_NAME=
DB_ADMIN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
SECRET_KEY=
ENV=development
POSTS_PER_PAGE=10
SQLALCHEMY_TRACK_MODIFICATIONS=False
DB_NAME='test'
