{% extends 'layout.html' %}

{% block title %}App Name{% endblock %}

{% block meta_description %}Describe here what App Name does{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="bg-light p-5 rounded">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll,
        it will remain fixed to the top of your browser’s viewport.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs
        &raquo;</a>
</div>

{% endblock %}
